[submodule "peel-wordcount-bundle/src/main/resources/config/cloud-7"]
	path = peel-wordcount-bundle/src/main/resources/config/cloud-7
	url = git@github.com:stratosphere/peelconfig.cloud-7.git
[submodule "peel-wordcount-bundle/src/main/resources/config/cloud-11"]
	path = peel-wordcount-bundle/src/main/resources/config/cloud-11
	url = git@github.com:stratosphere/peelconfig.cloud-11.git
[submodule "peel-wordcount-bundle/src/main/resources/config/wally"]
	path = peel-wordcount-bundle/src/main/resources/config/wally
	url = git@github.com:stratosphere/peelconfig.wally.git
[submodule "peel-wordcount-bundle/src/main/resources/config/alexander-t540p"]
	path = peel-wordcount-bundle/src/main/resources/config/alexander-t540p
	url = git@github.com:aalexandrov/peelconfig.alexander-t540p.git
[submodule "peel-wordcount-bundle/src/main/resources/config/poodle-9"]
	path = peel-wordcount-bundle/src/main/resources/config/poodle-9
	url = git@github.com:aalexandrov/peelconfig.poodle-9.git
[submodule "peel-wordcount-bundle/src/main/resources/config/acme-master"]
	path = peel-wordcount-bundle/src/main/resources/config/acme-master
	url = git@github.com:stratosphere/peelconfig.acme.git
